<div style="display:block; padding:5px 0;">
<div id="manset_tasiyici">
	<div id="mt_inner">
		<div id="manset_hizaliyici">
			<div class="mansetler">
				<ul class="temizle">
				<!-- BEGIN manset -->
				<li class="manset_ogeleri"><div style="{manset.MANSET_HEIGHT}; width:{manset.N_MANSET_WIDTH}px;"><span class="manset_aciklama">{manset.MANSET_NAME}</span>{manset.MANSET_LINK}</div></li>
				<!-- END manset -->
				</ul>
			</div>
		</div>
	</div>
	<button id="manset_sonraki"></button>
	<button id="manset_onceki"></button>
</div>
</div>